<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Travel Bucket List</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="/list-destinations">List of Destinations</a></li>
                <li><a href="/list-destinations/new">Add New Destination</a></li> 
                <li><a href="/list-countries">List of Countries</a></li>
                <li><a href="/list-countries/new">Add New Country</a></li>
            </ul>
        </nav>
    </header>
    <h1>Travel bucket list</h1>
        {% block content %}

        
        {% endblock content %}
</body>
</html>