<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>Travel Bucket List</title>
</head>
<body>
    <header>
        <h1 class="main-title"><a href="{{ url_for('home') }}" style="text-decoration: none; color: #566270;"><i class="fa fa-plane" aria-hidden="true" fa-5x></i>TRAVEL BUCKET LIST</a></h1>
        <nav>
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="/list-destinations">List of Destinations</a></li>
                <li><a href="/list-destinations/new">Add New Destination</a></li> 
                <li><a href="/list-countries">List of Countries</a></li>
                <li><a href="/list-countries/new">Add New Country</a></li>
            </ul>
        </nav>
    </header>

    <main>
            {% block content %}

            
            {% endblock content %}
    </main>

    <footer>
        <p>Powered by hedgehogs</p>
    </footer>

</body>

</html>